/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
float:right; margin-top:-120px;
border:1px solid #C8CACF;
border-radius:6px;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{

 background:url(../images/faq-english-tab.png) repeat-x;
color: #FFFFFF;
    cursor: text;
    float: left;
    height: 23px;
    width: 76px;
	cursor:pointer;
	text-align:center;
	padding-top:7px;
	font-size:13px;
	font-weight:bold;
}

ul.tabbernav li a:link { color:#000;}
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background:url(../images/faq-english-tab.png) repeat-x;
}

ul.tabbernav li.tabberactive a
{
background:url(../images/faq-tamil-tab.png) repeat-x;
 color: #FFFFFF;
    cursor: text;
    float: left;
    height: 23px;
	cursor:pointer;
    width: 76px;
	padding-top:7px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

ul.tabbernav li.tabberactive a:hover
{

}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;

 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
