/* CSS Document */

/* CSS Document */
/* CSS Document */
@font-face {
    font-family: 'RockwellRegular';
    src: url('../fonts/rock.eot');
    src: url('../fonts/rock.eot') format('embedded-opentype'),
         url('../fonts/rock.woff') format('woff'),
         url('../fonts/rock.ttf') format('truetype'),
         url('../fonts/rock.svg#RockwellRegular') format('svg');
}
@font-face {
				font-family: 'OpenSans-Bold';
				src: url('../fonts/opensansbold.eot');
				src: url('../fonts/opensansbold.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/opensansbold.woff') format('woff'),
						 url('../fonts/opensansbold.ttf') format('truetype'),
						 url('../fonts/opensansbold.svg#opensansbold') format('svg');
				font-weight: normal;
				font-style: normal;
		}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
display:block;
}
body{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
line-height:18px;
color:#333;
background-color:#fff;
}
a{
color:#08c;
text-decoration:none;
}
img{
border:none;
}
button,input[type="button"],input[type="reset"],input[type="submit"]{
cursor:pointer;
-webkit-appearance:button;
}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }
header{
background:url(../images/header-top-bg.png) repeat-x;
width:100%;
height:100px;
}

@media only screen and (max-width:768px) {
.middle-container{
width:768px;
margin:0px auto;
}
.middle-container .logo{
width:206px;
height:64px;
float:left;
margin-top:13px;
}
.middle-container #logo{
width:206px;
height:75px;
float:left;
background:url(../images/top-logo.png) no-repeat;
}
.top-account-right{
float:right;
padding-right:8px;
}
.top-account-right h6{
font-size:11px;
color:#b9b7b7;
text-align:right;
padding-top:6px;
}
.top-account-right h6 span,.top-account-right h6 span a, .top-account-right h5 a{
color:#fff;
}
.top-account-right h5{
color:#fff;
font-size:12px;
text-align:right;
}
.top-cart-icon{
background:url(../images/shopping-cart-icon.png) no-repeat;
color:#4f0403;
float:left;
padding-left:27px;
font-size:14px;
letter-spacing:-1px;
font-family: 'OpenSans-Bold';
margin-top:20px;
margin-top:20px;\9; /* IE8 and below */  
     *margin-top:6px; /* IE7 and below */ 
}
.top-cart-icon span{
color:#fff;
font-size:15px;
font-weight:bold;
}
nav{
background:url(../images/nav-bg.png) repeat-x;
width:100%;
height:40px;
padding-top:7px;
}
.search-lib-tab{
width:auto;
float:left;
}
.cat-lib-btn{
width:auto;
padding:9px 12px 8px 12px;
background:url(../images/top-red-btn-bg.png) repeat-x;
border-left:#760101 solid 1px;
border-right:#760101 solid 1px;
border-bottom:#aa3636 solid 1px;
border-top:none;
border-bottom:none;
color:#fff;
font-weight:bold;
margin:0px 0px 0px 6px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;

}
.left{
float:left;
}	
.top-mid-menutab{
width:auto;
margin-left:59px;
float:left;
}
.top-mid-menutab ul{
float:left;
background:url(../images/top-menu-bg.png) repeat-x;
border-right:#790404 solid 1px;
height:32px;
-webkit-border-radius:0px 6px 6px 0px!important;
-moz-border-radius:0px 6px 6px 0px!important;
border-radius:0px 6px 6px 0px!important;
behavior: url(PIE.htc)!important;
}
.top-mid-menutab ul li{
float:left;
padding:7px 13px 0px 13px;
font-weight:bold;
font-size:12px;
color:#fff;
}
.top-mid-menutab ul li a{
color:#fff;
}
.no-padding{
padding:0px!important;
}	
.new-product-section{
background:url(../images/subpage-btm-bg.png) repeat-x center top #ECECEC;
width:100%;
padding:35px 0px 35px 0px;
	
}
.top-product-section{
/*background:url(../images/top-product-bg.png) repeat-x;*/
width:100%;
padding:30px 0px 35px 0px;
}
.new-product-section h1, .top-product-section h1{
font-family: 'RockwellRegular';
font-size:20px;
padding-bottom:35px;
padding-left:8px;
}
.new-product-section .display-row, .top-product-section .display-row{
width:17.5%;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
margin-right:7px;
float:left;
}
.new-product-section .last-display-row, .top-product-section .last-display-row{
width:17.5%;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
float:left;
}
.new-product-section .display-row .inner-wrapper,
.new-product-section .last-display-row .inner-wrapper,
.top-product-section .display-row .inner-wrapper,
.top-product-section .last-display-row .inner-wrapper
{
width:auto;
background-color:#fff;
padding:7px 9px 0px 0px;
}
.new-product-section .display-row .inner-wrapper .book-shadow,
.new-product-section .last-display-row .inner-wrapper .book-shadow,
.top-product-section .display-row .inner-wrapper .book-shadow,
.top-product-section .last-display-row .inner-wrapper .book-shadow{
width:100%;
height:8px;
background:url(../images/book-shadow-ipad.png) no-repeat;
margin-top:-4px;
margin-left:9px;
}
.new-product-section .display-row .inner-wrapper .book-display,
.new-product-section .last-display-row .inner-wrapper .book-display,
.top-product-section .display-row .inner-wrapper .book-display,
.top-product-section .last-display-row .inner-wrapper .book-display{
float:left;width:100%;
}
.new-product-section .display-row .inner-wrapper .book-display img,
.new-product-section .last-display-row .inner-wrapper .book-display img,
.top-product-section .display-row .inner-wrapper .book-display img,
.top-product-section .last-display-row .inner-wrapper .book-display img{
margin:0px 10px 0px 4px;
width:100%!important;
height:20%;
}
.new-product-section .display-row .inner-wrapper p,
.new-product-section .last-display-row .inner-wrapper p
{
color:#616161;
padding-left:6px;
font-weight:bold;
font-size:11px;
padding-bottom:26px;
line-height:15px;
width:100px;
min-height:50px;
}
footer{
background:url(../images/footer-bg.png) repeat;
width:100%;
float:left;
padding:25px 0px 20px 0px;
}	

footer .secondrow{
float:left;
width:100%;
}
footer .secondrow .footerlist{
color:#fff;
font-size:12px;
line-height:22px;
float:left;
padding-left:8px;
}
footer .secondrow .footerlist a{
color:#fff;
}
footer .secondrow .copyrights{
color:#D88D8D;
font-size:12px;
float:right;
padding-right:8px;
padding-top:15px;
}
footer .secondrow .copyrights a{
color:#D88D8D;
}
.newsletter-font{
color:#fff;
font-size:20px;
padding-bottom:6px;
}
.subscribe-font{
color:#d88d8d;
font-size:13px;padding-bottom:19px;
}
.subscribe-font a{
color:#d88d8d;
}
.newsletter-textbox{
padding:6px;
float:left;
border:#fff solid 1px;
width:210px;
border-radius:0px!important;
box-shadow:0px!important;
}
.my-info-footer{
margin-left:50px;
}
.other-info-footer{
margin-left:78px;
}

.right{
float:right;
}
.ipad-padding{
padding:0px 8px;
}	
.book-top-wrapper{
width:100%;
height:9px;
float:left;
background:url(../images/book-top-wrapper.png) no-repeat;
margin-left:1px;
}	
.top-product-section .display-row .inner-wrapper p,
.top-product-section .last-display-row .inner-wrapper p{
color:#616161;
padding-left:15px;
font-weight:bold;
font-size:12px;
padding-bottom:32px;
}	
.add-to-cart-btn{
background:url(../images/add-cart-icon.png) no-repeat;
width:121px;
height:34px;
border:none;
margin:-15px 0 0 5px;
position:absolute;
}
.top-product-section{
background:url(../images/top-product-bg.png) repeat-x;
width:100%;
padding:30px 0px 35px 0px;
height:345px;
}
footer{
background:url(../images/footer-bg.png) repeat;
width:100%;
float:left;
padding:25px 0px 20px 0px;
}	
footer ul li{
float:left;
}
footer ul li ul li{
float:none;
}
footer .firstrow{
float:left;
padding-bottom:30px;
}
footer .secondrow{
float:left;
padding-top:23px;
width:100%;
}
footer .secondrow .footerlist{
color:#fff;
font-size:12px;
line-height:22px;
float:left;
}
footer .secondrow .footerlist a{
color:#fff;
}
footer .secondrow .copyrights{
color:#D88D8D;
font-size:12px;
float:right;
}
footer .secondrow .copyrights a{
color:#D88D8D;
}
.newsletter-font{
color:#fff;
font-size:20px;
padding-bottom:6px;
}
.subscribe-font{
color:#d88d8d;
font-size:13px;padding-bottom:19px;
}
.subscribe-font a{
color:#d88d8d;
}
.newsletter-textbox{
border:none;
padding:6px;
float:left;
border:#ebebeb solid 1px;
width:250px;
}
.my-info-footer{
margin-left:50px;
}
.other-info-footer{
margin-left:78px;
}
.footer-divider{
width:768px;
height:2px;
margin:0px auto;
background:url(../images/footer-divider-ipad.png) no-repeat;
}
.right{
float:right;
}
.book-rate{
width:43px;
height:31px;
position:absolute;
background:url(../images/book-rate-ipad.png) no-repeat;
color:#fff;
font-size:15px;
margin:-13px 0 0 92px;
font-family: 'OswaldRegular';
text-align:center;
padding-top:13px;
}
.book-rate span{
font-family:'RupeeForadianRegular';
padding-right:2px;
}
.book-top-wrapper{
width:105px;
height:9px;
float:left;
background:url(../images/book-top-wrapper.png) no-repeat;
margin-left:15px;
}
/********search********/
.top-search-leftbg{
width:9px;
height:33px;
float:left;
background:url(../images/top-search-leftbg.png) no-repeat;
}
.top-search-rightbg{
width:9px;
height:33px;
float:left;
background:url(../images/top-search-rightbg.png) no-repeat;
}
.top-search-middlebg{
background:url(../images/top-search-middlebg.png) repeat-x;
float:left;
height:25px;
width:400px;
}
.top-small-search-icon{
float:left;
width:15px;
height:15px;
}
#top-small-search-icon{
background:url(../images/top-small-search-icon.png) no-repeat;
float:left;
width:15px;
height:15px;
}
.top-search-middlebg input{
border:none;
background-color:#fff;
width:370px;
float:left;
margin-left:20px;
margin-top:-17px;
}
.subpage-btm-container{
width:100%;
float:left;
background:url(../images/subpage-btm-bg.png) repeat-x;
padding-top:30px;
}
.subpage-btm-container .login-tab{
width:36%;
float:left;
}
.subpage-btm-container .login-tab .headings,
.subpage-btm-container .register-tab .headings{
border-bottom:#dadada solid 1px;
padding-bottom:15px;
}
.subpage-btm-container .login-tab h1{
color:#2562b3;
font-size:24px;
font-family: 'RockwellRegular';
float:left;padding-bottom: 7px;
}
.subpage-btm-container .login-tab h3,
.subpage-btm-container .register-tab h3{
color:#898989;
font-size:14px;
font-family: 'RockwellRegular';
float:left;
padding:2px 0px 0px 0px;
clear:both;
}
#inputs{
margin-top:22px;
}
#inputs input {
    background:url(../images/user-login-icon.png) no-repeat scroll 0 0 #fffffd;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #CCCCCC inset, 0 1px 0 #FFFFFF;
    margin: 0 0 6px;
    padding:7px 15px 7px 30px;
    width:180px;
}
#username {
    background-position: 5px -2px !important;
}
#password {
    background-position: 5px -52px !important;
}
.login-register-btn{
background: #c04347; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MwNDM0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YjIxMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c04347 0%, #9b2127 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c04347), color-stop(100%,#9b2127)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c04347 0%,#9b2127 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c04347 0%,#9b2127 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c04347 0%,#9b2127 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c04347 0%,#9b2127 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c04347', endColorstr='#9b2127',GradientType=0 ); /* IE6-8 */
-webkit-border-radius:5px!important;
-moz-border-radius:5px!important;
border-radius:5px!important;
behavior: url(PIE.htc)!important;
font-family:'BebasRegular';
font-size:15px;
border:none;
padding:5px 15px;
color:#fff;
}
.error-field{
color:#ed0000;
font-size:11px;
}
.subpage-btm-container .register-tab{
width:46%;
float:left;
margin-left:30px;
}
.subpage-btm-container .register-tab h1{
color:#c32257;
font-size:24px;
font-family: 'RockwellRegular';
float:left;padding-bottom:7px;
}
#form-wrapper{
float:left;
margin-top:22px;
}
#form-wrapper #form-inner {
float:left;
padding-bottom:65px;
}
#form-wrapper label {
    float: left;
    font:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
    width: 35%;
	color:#474747;
}
#form-wrapper .input {
    color: #797979;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #CCCCCC inset, 0 1px 0 #FFFFFF;
    margin: 0 0 6px;
    padding:7px 15px 7px 8px;
    width:47%;
}
.clear{
clear:both;
}	
.grid-view-icon{
width:33px;
height:32px;
float:left;
}
#grid-view-icon{
width:33px;
height:32px;
background:url(../images/grid-view-icon.png) no-repeat;
float:left;
}
.list-view-icon{
width:32px;
height:32px;
float:left;
}
#list-view-icon{
width:32px;
height:32px;
background:url(../images/list-view-icon.png) no-repeat;
float:left;
}
.library-stand{
background:url(../images/library-stand-ipad.png) no-repeat center bottom;
width:175px;
height:165px;
float:left;
margin-right:15px;
}
.library-current-stand{
background:url(../images/library-current-stand-ipad.png) no-repeat center bottom;
width:175px;
height:165px;
float:left;
margin-right:15px;
}
.library-laststand{
background:url(../images/library-stand-ipad.png) no-repeat center bottom;
width:175px;
height:165px;
float:left;
margin-right:0px;
}
.library-current-laststand{
background:url(../images/library-current-stand-ipad.png) no-repeat center bottom;
width:175px;
height:165px;
float:left;
margin-right:0px;
}
.library-stand .book-shelf, .library-current-stand .book-shelf,
.library-laststand .book-shelf, .library-current-laststand .book-shelf
{
width:100%;
margin:0px auto;
}	
.library-stand .book-shelf img, .library-current-stand .book-shelf img,
.library-laststand .book-shelf img, .library-current-laststand .book-shelf img
{
width:50%;
float:left;
margin-left:42px;
height:70%;
}	
.book-shelf-break{
clear:both;
height:25px;
}	
.library-stand .close-btn, .library-current-stand .close-btn,
.library-laststand .close-btn, .library-current-laststand .close-btn
{
position:absolute;
margin:-8px 0 0 117px;
}
.library-stand .close-btn img, .library-current-stand .close-btn img,
.library-laststand .close-btn img, .library-current-laststand .close-btn img
{
width:70%;
}
.feedback-form-tab{
width:365px;
margin:0px auto;
}
.feedback-form-tab h1{
color:#c32257;
font-size:24px;
font-family:'RockwellRegular';
}
.feedback-form-tab h2{
color:#898989;
font-size:14px;
font-family:'RockwellRegular';
padding-top:4px;
}
.feedback-form-tab .headings{
border-bottom: 1px solid #DADADA;
    padding-bottom: 15px;
	margin-bottom:25px;
}
.feedback-form-tab .formtab{
float:left;
}
.feedback-form-tab .formtab .input {
    color: #797979;
	border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #CCCCCC inset, 0 1px 0 #FFFFFF;
    margin:4px 0px 8px 0px;
    padding:7px 15px 7px 8px;
    width:342px;
	resize:none;
	display:block;
}
.feedback-form-tab .formtab label{
clear:both;
font-size:12px;
font-weight:bold;
color:#474747;
}
.feedback-form-tab .formtab label span{
clear:both;
font-size:12px;
font-weight:bold;
color:#ff0000;
}
	.middle-container h1{
color:#474747;
font-size:20px;
font-family:'RockwellRegular';
}
.account-icon-tab{
width:auto;
float:left;
padding-bottom:50px;
}
.account-icon-tab .wish-list-icon{
width:134px;
float:left;
height:133px;
}
.account-icon-tab #wish-list-icon{
width:134px;
float:left;
height:133px;
background:url(../images/wish-list-icon.png) no-repeat;
}
.account-icon-tab .purchased-icon{
width:134px;
float:left;
height:133px;
margin:0px 13px;
}
.account-icon-tab #purchased-icon{
width:134px;
float:left;
height:133px;
background:url(../images/purchased-books-icon.png) no-repeat;
}
.account-icon-tab .logout-icon{
width:134px;
float:left;
height:133px;
}
.account-icon-tab #logout-icon{
width:134px;
float:left;
height:133px;
background:url(../images/logout-icon.png) no-repeat;
}
.purchased-books-tab{
width:100%;
float:left;
}
.purchased-books-tab .display-row, .purchased-books-tab .display-row{
width:17.5%;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
margin-right:11px;
float:left;
}
.purchased-books-tab .last-display-row{
width:17.5%;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
float:left;
}
.purchased-books-tab .display-row .inner-wrapper,
.purchased-books-tab .last-display-row .inner-wrapper
{
width:auto;
background-color:#fff;
padding:7px;
}
.purchased-books-tab .display-row .inner-wrapper .book-display,
.purchased-books-tab .last-display-row .inner-wrapper .book-display{
float:left;
}
.purchased-books-tab .display-row .inner-wrapper .book-display img,
.purchased-books-tab .last-display-row .inner-wrapper .book-display img{
width:100%;
}
.purchased-books-tab .display-row .inner-wrapper p,
.purchased-books-tab .last-display-row .inner-wrapper p
{
color:#616161;
font-weight:bold;
font-size:11px;
border-bottom:#e1e1e1 solid 1px;
padding-bottom:10px;
margin-bottom:15px;
}
.online-local-text{
color:#b10806;
font-size:14px;
font-weight:bold;
float:left;
}
.online-local-text a{
color:#b10806;
}
.top-blue-btn{
background: #00b5fd; /* Old browsers */
background: -moz-linear-gradient(top,  #00b5fd 0%, #0093fc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b5fd), color-stop(100%,#0093fc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00b5fd 0%,#0093fc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00b5fd 0%,#0093fc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00b5fd 0%,#0093fc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00b5fd 0%,#0093fc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5fd', endColorstr='#0093fc',GradientType=0 ); /* IE6-9 */

-moz-border-radius:6px!important;
		-webkit-border-radius:6px!important;
		border-radius:6px!important;
		behavior:url(PIE.htc)!important;
		-moz-box-shadow: 0px 0px 2px 0px #b6efff;
		-webkit-box-shadow: 0px 0px 2px 0px #b6efff;
		box-shadow: 0px 0px 2px 0px #b6efff;
		/* For IE 8 */
		-ms-filter: 
			"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=45, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=225, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=270, Color='#b6efff')",
			"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=315, Color='#b6efff')";
			border:1px solid #0564d0;
	 color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 0 6px;
    padding:5px 12px 6px;
    width: auto;
	margin-top:1px;
	}
/*******faq***/
.subpage-btm-container h1{
font-family: 'RockwellRegular';
font-size:20px;
padding-bottom:25px;
}
.subpage-btm-container .display-row{
width:auto;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
margin-right:21px;
float:left;
}
.subpage-btm-container .last-display-row{
width:auto;
background-color:#ececec;
border:#b7b7b7 solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:4px;
float:left;
}
.subpage-btm-container .display-row .inner-wrapper, .subpage-btm-container .last-display-row .inner-wrapper{
width:auto;
background-color:#fff;
padding:7px 0px 0px 0px;
}
.subpage-btm-container .display-row .inner-wrapper .book-shadow,
.subpage-btm-container .last-display-row .inner-wrapper .book-shadow{
width:162px;
height:8px;
background:url(../images/book-shadow.png) no-repeat;
margin-top:-2px;
margin-left:9px;
}
.subpage-btm-container .display-row .inner-wrapper .book-display,
.subpage-btm-container .last-display-row .inner-wrapper .book-display{
float:left;
}
.subpage-btm-container .display-row .inner-wrapper .book-display img,
.subpage-btm-container .last-display-row .inner-wrapper .book-display img{
margin-left:15px;
}
.subpage-btm-container .display-row .inner-wrapper p,
.subpage-btm-container .last-display-row .inner-wrapper p
{
color:#616161;
padding-left:15px;
font-weight:bold;
font-size:12px;
padding-bottom:27px;
}
.wishlist-tab{
width:100%;
float:left;
padding-bottom:35px;
}
/********order list*******/
.order-list-container{
width:85%;
margin:0px auto;
padding:40px 25px 0px 25px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
background-color:#fff!important;
}
.order-list-container .cart-sidebar-bg{
background:url(../images/cart-sidebar-bg.png) repeat-x;
width:33%;
height:5px;
float:left;
margin-top:8px;
}
.order-list-container .order-heading{
background:url(../images/your-order-head.png) no-repeat;
width:215px;
height:23px;
float:left;
}
.order-tab-middle{
width:100%;
height:100px;
margin:0px auto;
background:url(../images/order-list-tab.png) no-repeat;
margin-top:40px;
}
.order-tab-middle ul li{
background:url(../images/order-tab-listbg.png) no-repeat  28px 9px;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
padding:25px 15px 0 25px;
margin-right:21px;
text-align:center;
line-height:24px;
}
.order-tab-middle ul li.current{
background:url(../images/order-tab-currentbg.png) no-repeat  28px 9px;
width:auto;
height:auto;
float:left;
color:#bc0301!important;
font-size:14px;
font-weight:bold;
padding:25px 15px 0 25px;
margin-right:21px;
text-align:center;
line-height:24px;
}
.order-tab-middle ul li span{
color:#fff;
font-size:28px;
font-weight:bold;
 display: block;
}
.shoppingdetails{
background:url(../images/order-tab-listbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin:0px 2px 0px 18px!important;
padding:25px 0 0 28px !important;
}
.shoppingdetails-current{
background:url(../images/order-tab-currentbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin:0px 2px 0px 17px!important;
padding:25px 0 0 28px !important;
}
.order-tab-middle ul li a, .shoppingdetails a, .billingdetails a, .payment-details a{
color:#6b6b6b;
}
.order-tab-middle ul li a:hover, .shoppingdetails a:hover, .billingdetails a:hover, .payment-details a:hover,
.order-tab-middle ul li a.current, .shoppingdetails a.current, .billingdetails a.current, .payment-details a.current{
color:#bc0301;
}
.billingdetails{
background:url(../images/order-tab-listbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin-left:27px;
margin-right:7px!important;
padding:25px 0 0 39px !important;
}
.billingdetails-current{
background:url(../images/order-tab-currentbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin-left:26px;
margin-right:7px!important;
padding:25px 0 0 39px !important;
}
.payment-details{
background:url(../images/order-tab-listbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin:0px 0px 17px 32px;
padding:25px 0 0 27px !important;
}
.payment-details-current{
background:url(../images/order-tab-currentbg.png) no-repeat  58px 9px!important;
width:auto;
height:auto;
float:left;
color:#6b6b6b;
font-size:14px;
font-weight:bold;
margin:0px 0px 17px 31px;
padding:25px 0 0 27px !important;
}
.faq-container{
width:718px;
margin:0px auto;
background-color:#fff!important;
padding:0px 25px;
-webkit-border-radius:5px!important;
-moz-border-radius:5px!important;
border-radius:5px!important;
behavior: url(PIE.htc)!important;
}
.faq-ribbon{
width:40px;
height:63px;
position:absolute;
background:url(../images/faq-ribbon.png) no-repeat;
margin-top:-7px;
}
.faq-container h2{
color:#7f7f7f;
font-size:34px;
float:left;
padding:31px 0 0 65px;
}
.faq-container article{
border-bottom:#e5e5e5 solid 1px;
padding-bottom:16px;
}
.faq-tamil-tab{
width:76px;
height:30px;
margin-top:30px;
float:left;
}
#faq-tamil-tab{
width:76px;
height:30px;
float:left;
background:url(../images/faq-tamil-tab.png) no-repeat;
}
.faq-english-tab{
width:77px;
height:30px;
float:left;margin-top:30px;
}
#faq-english-tab{
width:77px;
height:30px;
float:left;
background:url(../images/faq-english-tab.png) no-repeat;
}
.faq-container h4{
color:#c1c1c1;
font-size:14px;
float:left;
padding:10px 0 54px 0px;
}
.faq-question-text{
color:#000;
font-size:12px;
font-weight:bold;
padding-bottom:19px;
}
.faq-answer-text{
color:#898989;
font-size:12px;
float:right;
padding-left:15px;
width:650px;
}
.faq-btm-border{
border-bottom:#d0d0d0 dashed 1px;
padding-bottom:7px;
margin-bottom:22px;
}
pre{
margin:0px;font-family:Arial, Helvetica, sans-serif;
padding:0px;
}
.book-fair-content{
font-size:11px;
}
.book-read-header{
background:url(../images/top-settings-bg.jpg) repeat-x;
width:100%;
height:57px;
}
.book-read-header .top-logo{
width:136px;
height:39px;
float:left;
}
.book-read-header #top-logo{
width:136px;
height:39px;
background:url(../images/top-setting-Vlogo.png) no-repeat;
float:left;
margin:8px 0px 0px 15px;
}
.list-menu-icon{
float:left;
width:36px;
height:35px;
}
#list-menu-icon{
float:left;
width:36px;
height:35px;
background:url(../images/list-menu-icon.png) no-repeat;
}
.top-settings-icon{
float:left;
width:36px;
height:35px;
}
#top-settings-icon{
float:left;
width:36px;
height:35px;
background:url(../images/top-settings-icon.png) no-repeat;
}
.brightness-icon{
float:left;
width:36px;
height:35px;margin:0px 8px;
}
#brightness-icon{
float:left;
width:36px;
height:35px;
background:url(../images/brightness-icon.png) no-repeat;

}
.full-screen-icon{
float:left;
width:36px;
height:35px;
}
#full-screen-icon{
float:left;
width:36px;
height:35px;
background:url(../images/full-screen-icon.png) no-repeat;
}
.settings-divider{
float:left;
width:2px;
height:32px;
background:url(../images/settings-divider.png) no-repeat;
margin:0px 9px;
}
.top-scroll-icon{
float:left;
width:36px;
height:35px;
}
#top-scroll-icon{
float:left;
width:36px;
height:35px;
background:url(../images/top-scroll-icon.png) no-repeat;
}
.book-reader-container{
width:900px;
margin:0px auto;
}
.book-reader-container h1{
color:#000;
font-size:25px;
padding:45px 0px 50px 0px;
}
.font-settings-popup{
width:350px;
margin:0px auto;
padding:25px;
background:url(../images/font-setting-popbg.png) repeat-x center top #dddddd;
-webkit-border-radius:8px!important;
-moz-border-radius:8px!important;
border-radius:8px!important;
behavior: url(PIE.htc)!important;
}
.font-settings-popup .font-size{
color:#494949;
font-size:12px;
font-weight:bold;
}
.font-settings-popup .displaytab{
background-color:#f6f6f5;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:10px;
margin:8px 0px 30px 0px;
border:#cccccc solid 1px;
}
.font-settings-popup .displaytab .black-whitetab{
width:79px;
float:left;
background-color:#fff;
border:#cccccc solid 1px;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
font-size:17px;
color:#000;
text-align:center;
line-height:22px;
padding:10px;
}
.font-settings-popup .displaytab .blacktab{
width:79px;
float:left;
background-color:#000;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
font-size:17px;
color:#fff;
text-align:center;
line-height:22px;
padding:10px;
margin:0px 13px;
}
.font-settings-popup .displaytab .sandstab{
width:80px;
float:left;
border:#dacb8b solid 1px;
background-color:#f2e4aa;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
font-size:17px;
color:#000;
text-align:center;
line-height:22px;
padding:10px;
}
.user-info-bck-btn{
background:url(../images/back-arrow.png) no-repeat 10px 12px #333333;
padding:7px 15px 8px 15px;
color:#fff;
padding-left:27px;
border:none;
font-weight:bold;
}
.ship-info-bck-btn{
background-color:#333333;
padding:7px 6px 8px 9px;
color:#fff;
border:none;
font-weight:bold;
margin-right:30px;
}
.continue-shop-btn{
background:url(../images/continue-shopping-btn.png) no-repeat;
padding:7px 15px;
color:#fff;
padding-left:27px;
border:none;
font-weight:bold;
width:185px;
height:32px;
margin-left:5px;
}
.shopping-detal-tab{
width:100%;
margin:0px auto;
}
.shopping-detal-tab .top-heading{
width:98%;
background-color:#949494;
padding:8px 0px 8px 2%;
}
.shopping-detal-tab .top-heading .discription-tab{
width:80%;
float:left;
color:#fff;
font-size:12px;
font-weight:bold;
}
.shopping-detal-tab .top-heading .unit-price{
width:75px;
float:left;
color:#fff;
font-size:12px;
font-weight:bold;
margin-left:60px;
}
.shopping-detal-tab .top-heading .sub-total{
width:auto;
float:left;
color:#fff;
font-size:12px;
font-weight:bold;
margin-left:10px;
}
.shopping-detal-tab .list-product-tab{
width:99%;
border:#d5dae0 solid 1px;
margin-top:3px;
background: url(../images/cart-display-bg-ipad.png) repeat-y;
}
.shopping-detal-tab .list-product-tab .pduct-tab{
width:75%;
float:left;
padding:10px 10px 10px 0px;
}
.shopping-detal-tab .list-product-tab .pduct-tab p{
padding-left:10px;
}	
.shop-product-icon{
width:auto;
float:left;
margin:25px 20px 0px 35px;
}
.unit-price-tab{
float:left;
color:#b30404;
font-size:12px;
margin-left:30px;
text-align:center;
height:55px;
padding-top:30px;
}
.unit-price-tab .pricetag{
padding-top:8px;
float:left;
padding-right:12px;
}
.total-pricetag{
background:url(../images/cart-display-bg-ipad.png) repeat-y;
width:100%;
float:left;
border-bottom:#d5dae0 solid 2px;
padding:10px 0px;
}
.total-pricetag aside{
width:73%;
float:left;
font-size:16px;
font-weight:bold;
text-align:right;
}
.total-pricetag aside span{
 color:#adadad;
 font-size:12px;
}
.total-pricetag p{
margin-left:55px;
float:left;
color:#b30404;
font-size:18px;
font-weight:bold;
}
.billing-details-tab{
width:100%;
margin:0px auto;
}
.billing-details-tab h1{
font-family: 'RockwellRegular';
font-size:22px;
color:#282828;
width:100%;
border-bottom:#dadada solid 1px;
padding-bottom:10px;
margin-bottom:20px;
}
.billing-details-tab .name-input{
border:#ababab solid 1px;
width:589px;
float:left;
padding:3px;
margin-bottom:7px;
}
.billing-details-tab .address-input{
border:#ababab solid 1px;
width:288px;
float:left;
padding:3px;
margin-right:5px;
margin-bottom:7px;
}
.billing-details-tab .city-input{
border:#ababab solid 1px;
width:219px;
float:left;
padding:3px;
margin-right:5px;
margin-bottom:7px;
}
.billing-details-tab .zipcode-input{
border:#ababab solid 1px;
width:129px;
float:left;
padding:3px;
margin-right:5px;
margin-bottom:7px;
}
.billing-details-tab .state-input{
border:#ababab solid 1px;
width:215px;
float:left;
padding:3px;
margin-right:5px;
margin-bottom:7px;
}
.payment-option-tab{
width:96%;
float:left;
background-color:#fff!important;
border:#dedede solid 1px!important;
-webkit-border-radius:6px!important;
-moz-border-radius:6px!important;
border-radius:6px!important;
behavior: url(PIE.htc)!important;
padding:20px 11px;
margin-bottom:8px;
}
.payment-option-tab .bank-name{
width:450px;
float:left;
border-bottom:#dedede solid 1px;
padding-bottom:15px;
color:#292929;
font-size:14px;
font-weight:bold;
}
.payment-option-tab .bank-name span{
color:#a5a5a5;
font-size:12px;
font-weight:bold;
}
.payment-option-tab .netbanking{
background-color:#f6ab15;
padding:5px;
color:#fff;
border:none;
font-weight:bold;
}
.no-bdr{
border-bottom:none!important;
}
.edit-cart-btn{
background:#e8e8e8;
padding:7px 5px 8px 5px;
color:#4f4f50;
border:none;
margin-left:5px;
font-weight:bold;
}
.paypal-font{
color:#ad0403;
font-size:12px;
}
.paypal-font span, .paypal-font span a{
color:#49b3e0!important;
font-size:12px;
}
.terms-condition{
float:right;
color:#848484;
font-size:13px;
padding-right:20px;
}
.terms-condition span, .terms-condition span a{
color:#49b3e0!important;
font-size:13px;
}
.add-cart-pop-up{
width:670px;
margin:0px auto;
}
.add-cart-pop-up .middle-wrapper{
width:640px;
margin:0px auto;
padding:10px 0px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab{
width:362px;
float:left;
margin-left:20px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .top-heading{
width:362px;
border-bottom:#e6e6e6 solid 1px;
padding-bottom:10px;
margin-bottom:15px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .top-heading h1{
float:left;
color:#000;
font-size:23px;
line-height:normal;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .cart-name{
color:#515151;
font-size:12px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .stock-name{
color:#1c9504;
font-size:12px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .cart-surname{
color:#b21111;
font-size:12px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .price-tag{
color:#303030;
font-size:20px;
float:left;
font-weight:bold;
padding:10px 0px 10px 85px;}
.add-cart-pop-up .middle-wrapper .book-description-tab .price-tag span{
color:#b21111;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .buying-bg{
width:327px;
height:32px;
float:left;
background:url(../images/add-cart-buybooks.png) no-repeat;
padding:10px 0px 0px 10px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .buying-bg .buy-head,
.add-cart-pop-up .middle-wrapper .book-description-tab .lending-bg .buy-head{
width:70px;
float:left;
border-right:#dfdfdf solid 1px;
height:26px;
color:#000;
font-size:16px;
font-weight:bold;
margin-right:15px;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .lending-bg{
width:327px;
height:91px;
float:left;
background:url(../images/add-cart-lend-books.png) no-repeat;
padding:10px 0px 0px 10px;
}
.price-tag span{
color:#b21111;
font-size:20px!important;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .lending-bg select{
background-color:#f7f7f7;
border:#dedede solid 1px;
-webkit-border-radius:4px!important;
-moz-border-radius:4px!important;
border-radius:4px!important;
behavior: url(PIE.htc)!important;
padding:3px;
color:#7c7c7c;
font-size:12px;
width:78px;
}
.add-cart-btn{
background: #bc1313; /* Old browsers */
background: -moz-linear-gradient(top,  #bc1313 0%, #ad1010 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc1313), color-stop(100%,#ad1010)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bc1313 0%,#ad1010 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bc1313 0%,#ad1010 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bc1313 0%,#ad1010 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bc1313 0%,#ad1010 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc1313', endColorstr='#ad1010',GradientType=0 ); /* IE6-9 */

-webkit-border-radius:4px!important;
-moz-border-radius:4px!important;
border-radius:4px!important;
behavior: url(PIE.htc)!important;
padding:5px 4px;
border:none;
color:#fff;
float:right;
margin-right:5px;
font-weight:bold;
}
.add-cart-pop-up .middle-wrapper .book-description-tab .add-wishlist{
width:362px;
float:left;
border:#e6e6e6 solid 1px;
border-left:none;
border-right:none;
color:#888787;
font-size:11px;
padding:8px 0px;
}
.add-cart-pop-up-btmbg{
background:url(../images/add-cart-btm-bg.png) repeat-x center top #e4e4e4;
width:650px;
padding:10px;
margin:0px auto;
color:#262626;
font-weight:bold;
}
.add-cart-pop-up-btmbg P{
font-size:11px;
color:#262626;
padding-top:10px;
}
.lib-list--container{
width:738px;
margin:0px auto;
background-color:#fff!important;
padding:5px;
-webkit-border-radius:5px!important;
-moz-border-radius:5px!important;
border-radius:5px!important;
behavior: url(PIE.htc)!important;
margin-bottom:25px;
}
.lib-list--container .topbg{
width:719px;
float:left;
padding:10px;
background:url(../images/lib-grid-view-bg.png) repeat-x center top #eeeeee;
border-bottom:#cccccc solid 1px;
}
.lib-list--container .topbg .content-tab{
width:630px;
float:left;
margin-left:25px;
}
.lib-list--container .topbg .content-tab h1{
color:#2e2e2e;
font-size:19px;	
font-weight:bold;
padding-bottom:0px;
padding-top:7px;
}
.lib-list--container .topbg .content-tab h3{
color:#2e2e2e;
font-size:15px;	
font-weight:bold;
padding-top:10px;
}
.lib-list--container .topbg .go-arrow{
width:16px;
height:16px;
float:left;
margin-top:25px;
}
.pagination-tab{
width:768px;
margin:0px auto;
border-top:#585858 dotted 1px;
padding-top:25px;
margin-bottom:25px;
}
.pagination-tab .leftbar{
float:left;
}
.pagination-tab .leftbar ul li{
float:left;
margin:0px 3px;
}
.pagination-tab .leftbar .pre-btn{
background:url(../images/pre-pag-btn.png) no-repeat;
float:left;
width:65px;
height:26px;
color:#6f6f6f;
font-size:14px;
font-weight:bold;
padding:9px 0px 0px 35px;
}
.pagination-tab .leftbar .pre-btn a{
color:#6f6f6f;
}
.pagination-tab .leftbar .next-btn{
background:url(../images/next-page-btn.png) no-repeat;
float:left;
width:89px;
height:26px;
color:#6f6f6f;
font-size:14px;
font-weight:bold;
padding:9px 0px 0px 23px;
}
.pagination-tab .leftbar .next-btn a{
color:#6f6f6f;
}
.pagination-tab .leftbar .page-btn{
background:url(../images/page-btn.png) no-repeat;
float:left;
width:38px;
height:26px;
color:#6f6f6f;
font-size:14px;
font-weight:bold;
padding:9px 0px 0px 0px;
text-align:center;
}
.pagination-tab .leftbar .page-btn:hover{
background:url(../images/page-current-bg.png) no-repeat;
float:left;
width:38px;
height:26px;
color:#fff!important;
font-size:14px;
font-weight:bold;
padding:9px 0px 0px 0px;
text-align:center;
}
.pagination-tab .leftbar .page-btn a{
color:#6f6f6f;
}
.pagination-tab .leftbar .page-btn a{
color:#6f6f6f;
}
.pagination-tab .rightbar{
float:right;
color:#c00200;
font-size:14px;
font-weight:bold;
}
.account-icon-tab .purchased-icon{
width:134px;
float:left;
height:133px;
margin:0px 13px;
}
.account-icon-tab #purchased-icon{
width:134px;
float:left;
height:133px;
background:url(../images/purchased-books-icon.png) no-repeat;
}

.account-icon-tab .lended-icon{
width:134px;
float:left;
height:133px;
margin-right:13px;
}
.account-icon-tab #lended-icon{
width:134px;
float:left;
height:133px;
background:url(../images/lended-books-icon.png) no-repeat;
}
.expired-date{
color:#8c8c8c!important;
font-size:12px!important;
}


.night-mode-font-container{
width:100%;
background-color:#000;
float:left;
}
.night-mode-font-container .night-mode-wrapper{
margin: 0 auto;
width: 768px;
}
.night-mode-font-container .night-mode-wrapper h1 {
color: #ffffff;
font-size: 25px;
padding: 45px 0 50px;
}
.night-mode-font-container .night-mode-wrapper p{
font-size:11px;
color:#fff;
}
.sand-mode-font-container{
width:100%;
background-color:#F2E4AA;
float:left;
}
.sand-mode-font-container .sand-mode-wrapper{
margin: 0 auto;
width: 768px;
}
.sand-mode-font-container .sand-mode-wrapper h1 {
color: #000;
font-size: 25px;
padding: 45px 0 50px;
}
.sand-mode-font-container .sand-mode-wrapper p{
font-size:11px;
color:#000;
}
.account-icon-tab .login-icon{
width:134px;
float:left;
height:133px;
}
.account-icon-tab #login-icon{
width:134px;
float:left;
height:133px;
background:url(../images/login-icon.png) no-repeat;
}
.terms-conditions-content {
    color: #898989;
    float: right;
    font-size: 14px;
	line-height:20px;
}
.contact-heading{
color:#ad0403;
font-size:21px;
line-height:36px;
}


	}
	
	