.caroufredsel_wrapper
{
	width:100% !important;
}
.list_carousel {
	background-color:transparent;
	width: 100%;
	position:relative;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel ul
{
	width:100% !important;
}
.list_carousel ul li .display-row {
	width:100%;
}
.list_carousel ul li {
	width:17.73%;
	height:auto;
	padding: 0;
	position:relative;
	display: block;
	float: left;
	margin-right:17px;
}

.list_carousel.responsive 
{
	width: auto;
	margin-left: 0;
}
.sli_main
{
	width:100% !important;
}
.clearfix {
	float: none;
	clear: both;
}
.prev_photo {
	width:22px;
	height:22px;
	position:absolute;
	top:-50px;
	right:25px;
	background:url(../images/prev-x.png) no-repeat 0 0;
	
}
.next_photo {
	width:22px;
	height:22px;
	position:absolute;
	top:-50px;
	right:0px;
	background:url(../images/next-x.png) no-repeat 0 0;
}

	@media only screen and (max-width:1024px) and (min-width:800px) {
		
		.list_carousel ul li {
	width:18.28%;
	height:auto;
	padding: 0;
	position:relative;
	display: block;
	float: left;
	margin-right:17px;
}
	}